h1{
    color: red;
    background-color: rgba(108, 255, 90, 0.5);x
}
p {
    font-size: 30px;
    font-family: sans-seriff;
    font-weight: bold;
    font-style: italic;
    text-decoration:line-through;
}
#yeet {
    background-color: red;
    font-style: normal;
    text-decoration: none
}
.e-{
    background-color: blue;
}
img{
    opacity: 0.5
}
#yeetbig{
    text-decoration:underline
}
#box{
text-align: center
}
ul {
    list-style-type: circle;
}
ol {
    list-style-type: lower-alpha
}
table, th, td{
    border: 1px solid black
    
}
table{
    border-collapse: collapse;
    width: 50%;
    background-color:khaki;
}
th, td {
    padding 100px;
}
.link, .link:visited {
    text-decoration: none;
    color: black;
    transition: all 1s;
}
.link:hover {
    color: rgb(250, 193, 193);
    font-size: 20px;
}
.margin {
    margin: 50px;
}
.button, .button:visited {
    text-decoration: none;
    padding: 5px 10px;
    font-family: Garamond;
    border: 2px blue solid;
    border-radius: 10px
    
}
.button:hover {
    color: red;
    font-size: 20px;
    background-color:aquamarine;
    transition: 1s;
    font-size:30px;
}
